@model CreateUserViewModel

@{
    ViewData["Title"] = "Create User";
}

<h2>Create User</h2>

<form method="post">
    <label asp-for=Username">Username</label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br />

    <label asp-for="Password">Password</label>
    <input asp-for="Password" type="password" />
    <span asp-validation-for="Password"></span>
    <br />

    <label asp-for="Role">Role</label>
    <select asp-for="Role">
        <option value="User">User</option>
        <option value="Admin">Admin</option>
    </select>
    <span asp-validation-for="Role"></span>
    <br />

    <label asp-for="PreferredLanguage">PreferredLanguage</label>
    <select asp-for="PreferredLanguage">
        <option value="English">English</option>
    </select>
    <span asp-validation-for="PreferredLanguage"></span>
    <br />

    <input type="submit" value="Create User"/>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}