@model Library

@{
    ViewData["Title"] = "Add a Library";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <h2 class="mb-4">Add a Library</h2>

            <form method="post">
                <div class="mb-2">
                    <label asp-for="ContentType" class="form-label">Content Type</label>
                    <select asp-for="ContentType" class="form-control bg-dark text-light borderless">
                        <option value="Movies">Movies</option>
                        <option value="Music">Music</option>
                        <option value="Books">Books</option>
                        <option value="Shows">Shows</option>
                    </select>
                    <span asp-validation-for="ContentType" class="opacity-75"></span>
                    <br />
                </div>

                <div class="mb-2">
                    <label asp-for="DisplayName" class="form-label">Display Name</label>
                    <input asp-for="DisplayName" class="form-control bg-dark text-light borderless" />
                    <span asp-validation-for="DisplayName" class="opacity-75"></span>
                    <br />
                </div>

                <div class="mb-2">
                    <label asp-for="Directory" class="form-label">Path to Library</label>
                    <input asp-for="Directory" class="form-control bg-dark text-light borderless" />
                    <span asp-validation-for="Directory" class="opacity-75"></span>
                    <br />
                </div>

                <input type="submit" value="Create Library" class="btn btn-primary btn-light-blue fw-semibold float-end" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}